.modal {
    position: fixed;  /* 固定定位 */
    top: 20%;
    left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 52vw;  /* 设置宽度为视口宽度的一半 */
    height: 70vh;  /* 设置高度为视口高度的 70% */
    min-height: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2000;  /* 确保在最前面 */
    opacity: 0;  /* 默认隐藏 */
    visibility: hidden;  /* 隐藏模态框 */
    transition: opacity 20ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0s 20ms;  /* 优化显示隐藏动画 */
    cursor: default;  /* 鼠标悬停时显示拖拽指针 */
}


/* 模态框打开时 */
.modal.open {
    opacity: 1;
    visibility: visible;  /* 显示模态框 */
    transition: opacity 20ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0s;  /* 优化显示隐藏动画 */
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 切换按钮和关闭按钮两端对齐 */
    border-bottom: 1px solid #ddd;
    padding: 0.8rem;
    margin: 0;
}

.header-buttons {
    display: flex;
    gap: 0; /* 移除按钮之间的间距 */
}

.header-buttons button {
    font-size: 0.8em; /* 缩小文字大小 */
    padding: 0.3rem 0.6rem; /* 缩小内边距 */
    border-radius: 0; /* 调整按钮圆角 */
    border: 1px solid #ccc; /* 添加细边框 */
    background-color: #f9f9f9; /* 背景颜色 */
    transition: all 0.3s ease;
    margin: 0; /* 确保没有外边距 */
}

.header-buttons button:hover {
    background-color: #e0e0e0; /* 鼠标悬停效果 */
}

/* 高亮选中按钮样式 */
.header-buttons button.active {
    background-color: #464748; /* 高亮颜色 */
    color: white; /* 高亮时字体变白 */
    border-color: #74797c; /* 边框颜色改变 */
}


/* 关闭按钮 */
.btn-close {
    background-color: transparent; /* 透明背景 */
    color: black; /* 黑色叉 */
    font-size: 1.5em; /* 适当放大叉的字体 */
    border: none; /* 取消边框 */
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-close:hover {
    color: #555; /* 悬停时颜色变为深灰 */
}

.btn-close:active {
    color: black; /* 点击时颜色保持黑色 */
    transform: scale(1); /* 点击时恢复正常大小 */
}


.modal__content {
    display: none;
    height: 100%;  /* 填满模态框的剩余空间 */
    gap: 1rem;
    justify-content: space-around;  /* 横向分布子元素 */
}

.modal__content.active {
    display: flex; /* 仅激活的页面显示 */
}

.modal__left {
    flex: 1;  /* 左侧占据剩余空间 */
    max-width: 24%;  /* 设置最大宽度，确保不占据过多空间 */
    padding: 1rem;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}



.modal__middle {
    display: flex;
    max-width: 38%;  /* 设置最大宽度，确保不占据过多空间 */

    flex-direction: column;
    gap: 1rem;  /* 设置每个表单项之间的间距 */
}

.modal__middle button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.modal__middle button:hover {
    background-color: #45a049;
}

.modal__right {
    display: flex;
    max-width: 38%;  /* 设置最大宽度，确保不占据过多空间 */
    flex-direction: column;
    gap: 1rem;  /* 设置每个表单项之间的间距 */
}

.modal__right button {
    padding: 0.5rem;
    background-color: #ee0606; /* 改为红色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.modal__right button:hover {
    background-color: #f83804; /* 改为更深的红色 */
}



.envi__modal__left {
    display: flex;
    max-width: 40%;  /* 设置最大宽度，确保不占据过多空间 */
    flex-direction: column;
    gap: 1rem;  /* 设置每个表单项之间的间距 */
}

.envi__modal__left button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.envi__modal__left button:hover {
    background-color: #45a049;
}

.envi__modal__right {
    display: flex;
    max-width: 40%;  /* 设置最大宽度，确保不占据过多空间 */
    flex-direction: column;
    gap: 1rem;  /* 设置每个表单项之间的间距 */
}

.envi__modal__right button {
    padding: 0.5rem;
    background-color: #ee0606; /* 改为红色 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.envi__modal__right button:hover {
    background-color: #f83804; /* 改为更深的红色 */
}



.form-row {
    display: flex;
    align-items: center; /* 垂直居中 */
    gap: 3rem; /* 设置 label 和 dropdown 之间的间距 */
    width: 100%; /* 确保占据整个父容器的宽度 */
    box-sizing: border-box; /* 确保宽度计算包含边框和内边距 */
}

input {
    flex-grow: 1; /* 自动填充剩余空间 */
    min-width: 0; /* 防止过度扩展 */
    height: 80%; /* 高度跟随父元素 */
    box-sizing: border-box; /* 包括内边距和边框在高度计算中 */
}

label {
    width: 80px; /* 固定宽度，确保所有 label 一致 */
    text-align: left; /* 左对齐文本 */
    white-space: nowrap; /* 防止 label 换行 */
    font-size: 1rem;
    cursor: pointer; /* 鼠标悬停时显示手指指针 */
    margin-right: 5rem; /* 标签和控件之间的间距 */
}




/* 复选框容器 */
.checkbox-group {
    display: flex;
    align-items: center;  /* 垂直居中复选框 */
    gap: 1rem;  /* 设置复选框和标签之间的间距 */
}


/* 复选框样式 */
input[type="checkbox"] {
    transform: scale(1.2);  /* 放大复选框 */
    cursor: pointer; /* 鼠标悬停时显示手指指针 */
}

select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    flex-grow: 1; /* 自动填充剩余空间 */
    min-width: 0; /* 防止过度扩展 */
    box-sizing: border-box; /* 使宽度计算包括内边距 */
}

select:focus {
    border-color: #007bff;
    outline: none;
}

select[multiple] {
    height: 150px; /* 设置下拉框的高度 */
    width: 100%;   /* 设置下拉框的宽度 */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* 增加选中项的样式 */
select[multiple] option:checked {
    background-color: #007bff;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-flex;
    width: 200px; /* 根据需要调整宽度 */
    box-sizing: border-box;
}

/* 默认状态 */
#dropDownPrototype[data-value="0"]:before {
    content: "背景目标";
}

#dropDownPrototype[data-value="1"]:before {
    content: "预警雷达";
}

#dropDownPrototype[data-value="2"]:before {
    content: "侦察样机";
}

#dropDownPrototype[data-value="3"]:before {
    content: "干扰样机";
}

.selected {
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    flex-grow: 1;
    min-width: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
}

.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: auto;
}

.options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.options label {
    display: block;
    width: auto;

}

.options label:hover {
    background-color: #f0f0f0;
}

#objectList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.object-item {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.object-item:hover {
    background-color: #f0f0f0;
}

#objectPropertiesForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#objectPropertiesForm input {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#objectPropertiesForm button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#objectPropertiesForm button:hover {
    background-color: #45a049;
}



#objectPropertiesFormRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#objectPropertiesFormRight input {
    padding: 0.5rem;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#enviPropertiesForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#enviPropertiesForm input {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#enviPropertiesForm button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#enviPropertiesForm button:hover {
    background-color: #45a049;
}



#enviPropertiesFormRight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#enviPropertiesFormRight input {
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#enviPropertiesFormRight button {
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#enviPropertiesFormRight button:hover {
    background-color: #45a049;
}




/* 按钮样式 */
button {
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* 基本按钮样式 */
.btn {
    display: inline-block;
    font-weight: 700;
    background-color: transparent; /* 背景透明 */
    color: black; /* 文字颜色为黑色 */
    border: 2px solid black; /* 黑色边框 */
    border-radius: 25px;
    text-align: center;
    font-size: 1.1em;
    padding: 10px 20px;
    transition: all 0.3s ease;
}




