/* 遮罩层 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1800;  /* 确保在页面内容上面 */
    opacity: 0;  /* 默认隐藏 */
    visibility: hidden;  /* 隐藏遮罩层 */
    transition: opacity 20ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0s 20ms;  /* 优化动画效果 */
}

/* 遮罩层打开时 */
.overlay.open {
    opacity: 1;
    visibility: visible;  /* 显示遮罩层 */
    transition: opacity 20ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0s;  /* 优化动画效果 */
}