.side-bar {
    width: 350px;
    background-color: #f8f9fa;
    padding-right: 10px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    position: fixed;  /* 固定在页面上，浮动在地图上方 */
    transition: transform 0.3s ease; /* 滑动动画 */
    transform: translateX(0); /* 默认显示 */
    z-index:1001 !important; /* 确保侧边栏在地图上方 */
    height: 100vh;  /* 确保侧边栏高度铺满全屏 */
    left: 0;
}

/* 隐藏 sidebar */
.side-bar.hidden {
    transform: translateX(-100%); /* 向左滑动隐藏 */
}


.nav-button {
    padding: 15px;
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 16px;
    outline: none;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease; /* 平滑的背景色变化 */
}

.nav-button:hover {
    background-color: #d1d1d1;  /* 悬停时背景颜色加深 */
}

.expand-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 10px;  /* 将展开图标与文字之间的间距稍微增大 */
}

.add-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 10px;  /* 让添加图标与文字之间有一定的间距 */
}

.expand-icon:hover,
.add-icon:hover {
    opacity: 0.6;  /* 图标悬停时变得稍微透明，进一步加深视觉效果 */
}


.button-text {
    flex-grow: 1;  /* 让文字占据剩余空间 */
}

.submenu {
    display: flex;
    list-style-type: none;
    padding-left: 25px;
    font-size: 16px;
}


/* submenu 中的 li 样式 */
.submenu li {
    display: flex;  /* 使用 flex 布局 */
    justify-content: space-between;  /* 让内容分布到两边，删除按钮在右边 */
    align-items: center;  /* 垂直居中对齐 */
    padding: 5px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submenu li:hover {
    background-color: #f1f1f1; /* 悬停时背景颜色加深 */
}

/* 确保删除按钮和图片都有正确的显示尺寸 */
.delete-btn {
    width: 14px;  /* 设置一个明确的尺寸 */
    height: 14px;
    display: flex;
    justify-content: center;
    border: none;
    background: none;
    align-items: center;
    cursor: pointer;
}

.delete-btn img {
    width: 10px;
    height: 10px;
    object-fit: contain;  /* 保证图标保持比例 */
    display: block;  /* 确保图片被显示 */
}

.delete-btn:hover {
    opacity: 0.6;  /* 图标悬停时变得稍微透明，进一步加深视觉效果 */
}


input, button, label {
    margin: 5px 5px;
    padding: 5px 5px;
}




.overlay-content {
    width: 350px;
    background-color: #f8f9fa;
    padding-right: 10px;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    display: none;
    flex-direction: column;
    position: fixed;  /* 固定在页面上，浮动在地图上方 */
    transition: transform 0.3s ease; /* 滑动动画 */
    transform: translateX(0); /* 默认显示 */
    z-index:1001 !important; /* 确保侧边栏在地图上方 */
    height: 100vh;  /* 确保侧边栏高度铺满全屏 */
    left: 0;
}


.overlay-header {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    background-color: #ffffff;
}

.close-overlay-btn {
    position: absolute;
    top: 85%; /* 垂直居中 */
    right: 3px; /* 超出右边框 */
    transform: translateY(-50%); /* 修正垂直居中 */
    z-index: 1100; /* 确保按钮在内容上方 */
    background-color: transparent; /* 透明背景 */
    border: none;
    cursor: pointer;
    padding: 5px;
}

.close-overlay-btn:hover {
    color: #555;
}

.close-overlay-btn:active {
    color: black;
    transform: scale(1);
}

.section {

}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff;
}

.section-header:hover {
    background-color: #ffffff;
}

.section-header.open {
    background-color: #ffffff; /* 默认展开时背景颜色 */
}

.section-content {
    display: block; /* 默认展开 */
    max-height: 400px; /* 限制最大高度 */
    overflow: hidden; /* 内容超出时隐藏 */
    transition: max-height 0.3s ease;
}

.toggle-btn {
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    text-align: left;
    width: 100%;
    font-size: 15px;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease; /* 平滑的背景色变化 */
    margin-bottom: 5px;
}

.toggle-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-right: 10px;  /* 将展开图标与文字之间的间距稍微增大 */
}


.toggle-btn:hover {
    opacity: 0.6;  /* 图标悬停时变得稍微透明，进一步加深视觉效果 */
}

/* When collapsed, reduce height and hide content */
.section-header:not(.open) + .section-content {
    display: none;
}
