/* 样式定义 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* 设置整体容器 */
.main-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh; /* 设置容器高度为全屏 */
}

/* 地图容器样式 */
.map-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

#context-menu {
    display: none;
    position: relative;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1000;
}

#context-menu li:hover{
    background-color: #d1d1d1;
}




.plane-marker {
    width: 3px;           /* 红点的宽度 */
    height: 3px;          /* 红点的高度 */
    background-color: red; /* 红点颜色 */
    border-radius: 50%;    /* 使红点变为圆形 */
    position: absolute;    /* 绝对定位，确保定位生效 */
    z-index: 10;           /* 确保红点在其他元素上方 */
}



/*列表显表单样式*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}
input, button, label {
    margin: 10px 5px;
    padding: 5px 10px;
}
