/* 工具栏 */
.tool-bar {
    display: flex;
    justify-content: flex-start;  /* 默认让按钮从左向右排列 */
    align-items: center;  /* 垂直居中按钮 */
    width: 100%;  /* 工具栏宽度缩小一半 */
    height: 30px;
}

.button-group {
    display: flex;
    align-items: center;
}

.separator {
    width: 1px;
    height: 18px;
    background-color: black; /* 分隔符的颜色 */
    margin: 5px 5px; /* 分隔符的左右间距 */
}

.button-group button {
    line-height: 30px;  /* 将行高设置为工具栏的高度 */
    background-color: transparent; /* 去除底色 */
    display: flex;
    border: none;
    cursor: pointer;
    color: black;
    border-radius: 5px;
    position: relative;  /* 设置为相对定位，图片可以绝对定位在按钮内 */
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}


.button-group button img{
    width: 22px;  /* 设置图片宽度 */
    height: 22px; /* 设置图片高度 */
}

.button-group button:hover {
    background-color: #bdc3c7;
}

/* 将切换侧边栏和切换雷达栏按钮推到最右 */
#toggle-full{
    border: none;
    border-radius: 5px;
    background-color: transparent; /* 去除底色 */
    margin-left: auto;  /* 将这两个按钮推到最右 */
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

#toggle-sidebar{
    border: none;
    border-radius: 5px;
    background-color: transparent; /* 去除底色 */
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

#toggle-radarbar {
    border: none;
    border-radius: 5px;
    background-color: transparent; /* 去除底色 */
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

#toggle-full:hover,
#toggle-sidebar:hover,
#toggle-radarbar:hover {
    background-color: #bdc3c7; /* 鼠标悬停时改变背景色 */
}

/* 图片样式 */
#toggle-full img{
    width: 17px;  /* 设置图片宽度 */
    height: 17px; /* 设置图片高度 */
}

#toggle-sidebar img {
    width: 22px;  /* 设置图片宽度 */
    height: 22px; /* 设置图片高度 */
}

#toggle-radarbar img {
    width: 22px;  /* 设置图片宽度 */
    height: 22px; /* 设置图片高度 */
}


/* 防止图标失真 */
#toggle-full img,
#toggle-sidebar img,
#toggle-radarbar img {
    object-fit: contain; /* 确保图标按比例显示 */
}