/* 顶部区域 */
.title-bar {
    display: flex;
    flex-direction: row; /* 水平排列 */
    justify-content: flex-start;
}

/* 图标区域 */
.icon-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    width: 40px;
    height: 40px; /* 图标占两行 */
}

.icon-column img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 右侧区域：标题栏和菜单栏 */
.right-column {
    display: flex;
    flex-direction: column; /* 垂直排列标题栏和菜单栏 */
    justify-content: flex-start;
    flex-grow: 1;
}

/* 标题栏 */
.title {
    font-size: 18px;
    color: black;
    cursor: pointer;  /* 设置鼠标悬停时显示为手指形状，表示可以点击 */
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 7px;
}

/* 鼠标悬停时的效果 */
.title:hover {
    color: #007bff; /* 改变文字颜色，表示可以点击 */
}

/* 菜单栏背景颜色 */
.menu-bar {
    display: flex;
    padding-left: 10px;
    flex-direction: row;  /* 水平排列菜单项 */
}
/* 设置菜单列表 ul 水平排列 */
.menu-bar ul {
    list-style: none;     /* 移除列表项的默认样式 */
    padding: 0;           /* 去除内边距 */
    display: flex;        /* 使用 flexbox 来水平排列菜单项 */
}

/* 菜单项 li 的样式 */
.menu-bar li {
    margin-right: 20px;   /* 菜单项之间的间距 */

}

/* 菜单项链接 a 的样式 */
.menu-bar a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

/* 鼠标悬停时下划线效果 */
.menu-bar a:hover {
    background-color: #bdc3c7;
}

/* 分隔线 */
.divider {
    height: 2px;
    background-color: #bdc3c7;  /* 浅灰色 */
    margin-top: 5px;
}

/* 工具栏 */
.tool-bar {
    display: flex;
    justify-content: flex-start;  /* 默认让按钮从左向右排列 */
    max-width: 100%;  /* 工具栏宽度缩小一半 */
}

.tool-bar button {
    display: flex;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    position: relative;  /* 设置为相对定位，图片可以绝对定位在按钮内 */
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

.tool-bar button:hover {
    background-color: #bdc3c7;
}

/* 将切换侧边栏和切换雷达栏按钮推到最右 */
#toggle-full{
    margin-left: auto;  /* 将这两个按钮推到最右 */
    font-size: 15px;
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

#toggle-sidebar{
    font-size: 15px;
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}

#toggle-radarbar {
    font-size: 15px;
    align-items: center;  /* 垂直居中图片 */
    justify-content: center;  /* 水平居中图片 */
}
#toggle-full:hover,
#toggle-sidebar:hover,
#toggle-radarbar:hover {
    background-color: #bdc3c7; /* 鼠标悬停时改变背景色 */
}

/* 图片样式 */
#toggle-full img{
    width: 15px;  /* 设置图片宽度 */
    height: 15px; /* 设置图片高度 */
}

#toggle-sidebar img {
    width: 15px;  /* 设置图片宽度 */
    height: 15px; /* 设置图片高度 */
}

#toggle-radarbar img {
    width: 15px;  /* 设置图片宽度 */
    height: 15px; /* 设置图片高度 */
}


/* 防止图标失真 */
#toggle-full img,
#toggle-sidebar img,
#toggle-radarbar img {
    object-fit: contain; /* 确保图标按比例显示 */
}